# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# JetBrains IDE
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# Environment Variables
.env

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Distribution
build/
dist/
*.egg-info/